@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Freeman&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Love+Ya+Like+A+Sister&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
#root {
  margin: 0 auto;
}
:root {
  --custom-bg_dark: #7a919d;
  --generic-1: #8a9ea0;
  --generic-2: #7fb5af;
  --generic-3: #80cbae;
  --generic-4: #96dfa0;
  --generic-5: #c0ee89;
  --generic-6: #f9f871;
  --switch-1: #4f86f7;
  --switch-2: #00247f;
  --switch-3: #c7a762;
  --switch-4: #e6f4f1;
  --natural-1: #4f86f7;
  --natural-2: #868fbb;
  --natural-3: #f7f9ff;
  --natural-4: #e6f4f1;
  --natural-5: #4f86f7;
  --natural-6: #434655;
  --natural-7: #a8aabc;
  --natural-8: #ac8500;
  --natural-9: #725400;
  --transparent-bg: rgba(60, 60, 60, 0.8);
  --color-bg: 6 10 18;
  --gradient-primary: linear-gradient(to right, #0d9488, #0891b2);
}
.gradient-text {
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
--gradient-primary-soft: linear-gradient(
  to right,
  (13, 148, 136, 0.4),
  (8, 145, 178, 0.4)
);
@layer utilities {
  .text-gradient-primary {
    background-image: var(--gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@theme {
  --color-darkBg: #111827;
}

body {
  background-color: #252525;
  background-image: url("https://images.unsplash.com/photo-1533134486753-c833f0ed4866?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#calendar {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 5px auto;
  padding: 5px;
  border-radius: 10px;
  width: 200px;
}

#date {
  font-size: 1rem;
}

#time {
  font-size: 1rem;
  font-weight: bold;
}
